body{
  background-image: url('https://media.istockphoto.com/id/1385204442/vector/seamless-green-field-planting-agriculture-lines-background.jpg?s=612x612&w=0&k=20&c=V47oDekKnYxX17bfX7ZS3SRZrbUUeCYqzy0n2zNYNgQ=');
  background-size: cover;
  background-repeat: no-repeat;
}